#wrapper {
  width: 100%;
  position: relative;
}

#wrapper:before {
  content: "";
  display: block;
  padding-top: 40%;
}

#mainVisual {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
}

#mainVisual {
  background-image: url("../images/large.jpg");
}

@media (max-width: 1279px) {
  #mainVisual {
    background-image: url(../images/medium.jpg);
  }
}

@media (max-width: 639px) {
  #mainVisual {
    background-image: url(../images/small.jpg);
  }
}
